# python compile files
# ===========
*.pyc

# private
# ===========
credentials/
media/*
# Exception to the rule
!media/README.md
static/*
# Exception to the rule
!static/README.md
postfirerecovery/settings.py
postfirerecovery/settings.copy.py
db.sqlite3
.env
*.tar

# Eclipse project files
# ======================
.project
.pydevproject
*.pyproj

# Visual Studio project files
# ======================
.settings/
.vs/
*.sln
postfirerecovery/.vscode/*
.vscode/

# PyCharm project files
# ======================
.idea/

# Vendor files
# ======================
# uncommenting vendor since the libraries are pretty old at this point
# postfirerecovery/static/vendor/*
postfirerecovery/static/dist/*
# Exception to the rule
!postfirerecovery/static/dist/README.md

# Node and related environment
# ======================
.npmignore
node_modules/
package-lock.json

# other
# ======================
.DS_Store
