<div style="background: #ebebeb;">

    <!-- Alert Container -->
    <div class="alert alert-dismissible text-center display-none custom-alert" role="alert">
        <button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong ng-bind-html="alertContent"></strong>
    </div>

    <!-- Start Change Detection Map Area-->
    <div class="change-detection-area mg-5-percent pd-5">
        <div class="container-fluid">
            <div class="row">
                <!-- Map Start -->
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <!-- Loader Container -->
                    <div class="loader" ng-show="showMapLoader">
                        <i class="loading-img fas fa-spinner fa-spin fa-5x"></i>
                    </div>
                    <!-- Card Start -->
                    <div class="change-detection-inner card mg-tb-30">
                        <div class="card-title">
                            <h3>Change Detection</h3>
                        </div>
                        <div class="card-content" style="height: 70vh;">
                            <div id="change-detection-map" ng-init="initMap(leftLayerYear, 'left'); initMap(rightLayerYear, 'right');"></div>
                        </div>
                    </div>
                    <!-- Card Finish -->
                </div>
                <!-- Map End -->

                <!-- Side table and pie chart start -->
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="row">
                        <!-- Side table start -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!-- Loader Container -->
                            <div class="loader" ng-show="showtableLoader">
                                <i class="loading-img fas fa-spinner fa-spin fa-5x"></i>
                            </div>
                            <!-- Card Start -->
                            <div class="change-detection-inner card mg-tb-30">
                                <div class="card-title">
                                    <h3 class="inline-block-display">Land Cover Statistics</h3>
                                    <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange"
                                            ng-model="tableYear" ng-change="changeTableYear(tableYear)" ng-init="getTableStats()">
                                    </select>
                                </div>
                                <div class="card-content landcover-table" ng-show="!showtableLoader">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Class</th>
                                            <th>Area(Hectare)</th>
                                            <th>Percentage(%)</th>
                                        </tr>
                
                                        <tr ng-repeat="data in tableData">
                                            <td>[[ data.name ]]</td>
                                            <td>[[ data.area ]]</td>
                                            <td>[[ data.percentage ]]</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- Card End -->
                        </div>
                        <!-- Side table end -->

                        <!-- Side pie chart start -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!-- Loader Container -->
                            <div class="loader" ng-show="showPieLoader">
                                <i class="loading-img fas fa-spinner fa-spin fa-5x"></i>
                            </div>
                            <div class="change-detection-inner card">
                                <div class="card-title">
                                    <h3 class="inline-block-display">Land Cover Statistics</h3>
                                    <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange"
                                            ng-model="pieYear" ng-change="changePieYear(pieYear)" ng-init="getPieStats()">
                                    </select>
                                </div>
                                <div class="card-content" id="landcover-piechart" ng-show="!showPieLoader"></div>
                            </div>
                        </div>
                        <!-- Side pie chart finish -->
                    </div>
                </div>
                <!-- Side table and pie chart finish -->

            </div>
        </div>
    </div>
    <!-- Start Change Detection Map Area-->

    <!-- Start Statistics Area-->
    <div class="statistics-area mg-5-percent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="change-detection-inner card mg-tb-30">
                        <div class="card-title">
                            <h3>Land Cover Statistics</h3>
                        </div>
                        <div class="card-content landcover-linegraph">
                            <p>Coming Soon...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Change Detection Map Area-->

</div>
