<div class="container">

    <!-- Alert Container -->
    <div class="alert alert-dismissible text-center display-none custom-alert" role="alert" style="margin-left: 5% !important;">
        <button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>[[alertContent]]</strong>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 40px;">
            <div class="login-form" id="change-password-form-div">
                <div class="login-form-panel">
                    <h1>Change Password</h1>
                </div>

                <form id="change-password-form" role="form" name="changePasswordForm" novalidate>
                    <div class="form-group show-password" style="margin-top: 20px;" ng-class="{ 'has-error': changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$invalid }">
                        <label for="oldPassword" class="float-left">Old Password</label>
                        <input type="password" class="form-control" id="old-password" name="oldPassword" ng-model="form.oldPassword" placeholder="Old Password" required>
                        <span class="password-text" style="top: 60% !important;" ng-click="showPassword($event)">Show</span>
                        <div class="help-block" ng-messages="changePasswordForm.oldPassword.$error" ng-if="changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$invalid">
                            <p ng-message="required">Password is required!</p>
                        </div>
                    </div>
                    <div class="form-group show-password" ng-class="{ 'has-error': changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid }">
                        <label for="password" class="float-left">New Password</label>
                        <input type="password" class="form-control" id="new-password" name="newPassword" ng-model="form.newPassword" placeholder="New Password" required>
                        <span class="password-text" style="top: 60% !important;" ng-click="showPassword($event)">Show</span>
                        <div class="help-block" ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid">
                            <p ng-message="required">Password is required!</p>
                        </div>
                    </div>
                    <div class="form-group show-password" ng-class="{ 'has-error': changePasswordForm.confirmPassword.$invalid && !changePasswordForm.confirmPassword.$pristine }">
                        <label for="confirmPassword" class="float-left">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm-password" name="confirmPassword" placeholder="Confirm Password" ng-model="form.confirmPassword" required equal="[[ form.newPassword ]]">
                        <span class="password-text" style="top: 60% !important;" ng-click="showPassword($event)">Show</span>
                        <span ng-show="changePasswordForm.confirmPassword.$error.equal" class="help-block">Password does not match</span>
                    </div>
                    <button type="submit" id="change-password" class="btn btn-primary" style="margin-top: 20px;" ng-click="changePassword(form)" 
                            ng-disabled="changePasswordForm.oldPassword.$invalid || changePasswordForm.newPassword.$invalid || changePasswordForm.confirmPassword.$invalid">
                        Change Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
