<div class="container">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card mg-em-2">
                <div class="card-title">
                    <h1 class="home-title -center">
                        Post Fire Vegetation Monitoring System
                    </h1>
                </div>
                <div class="card-content mg-em-2">
                    <div class="summary">
                        <p>This system guides users in applying peer-reviewed methods and cloud computing power to produce a wide variety of high-quality land cover information products that can be updated regularly and consistently.</p>
                    </div>

                    <aside class="launch-panel">
                        <h2 class="inline-block-display">Launch Post Fire Vegetation Monitoring System</h2>
                        <button type="button" class="btn btn-success btn-lg text-align-center launch-panel-button" ui-sref="map">
                            Launch Tool
                        </button>
                    </aside>

                    <div class="card-image">
                        <img class="img-responsive img-center" src="/static/images/fire.png" width="1024" height="768" alt="Post Fire Vegetation Monitoring System">
                    </div>

                    <div class="summary-text" style="margin-top: 2em;">
                        <p>Monitoring land cover and land use change is important for land resource planning, maintaining ecosystem services, and for building &nbsp;resilience to climate change. However, in many cases, maps are produced and updated only infrequently and are often not accompanied by appropriate accuracy assessment information and documentation.</p>
                    </div>

                    <aside class="launch-panel">
                        <h2 class="inline-block-display">Launch Post Fire Vegetation Monitoring System</h2>
                        <button type="button" class="btn btn-success btn-lg text-align-center launch-panel-button" ui-sref="map">
                            Launch Tool
                        </button>
                    </aside>

                    <div style="margin-top: 2em;">
                        <div class="summary">
                            <p>Application Purpose</p>
                        </div>
                        <div class="summary-text">
                            <p>The purpose of this system is to facilitate the  the production of custom, high-quality land cover information products to serve a variety of policy, planning, management, and reporting needs of regional and national institutions in the Lower Mekong Region. The system leverages the power of Google Earth Engine and relies in most cases on  field observations and the interpretation of high resolution imagery by stakeholders relevant to a given project. Once the system has been customized to produce a given product or set of products, these can be updated regularly in a structured way to serve ongoing monitoring needs.</p>
                        </div>
                    </div>

                    <div style="margin-top: 2em;">
                        <div class="summary">
                            <p>Application Uses</p>
                        </div>
                        <div class="summary-text">
                            <p>A broad consortium of co-production partner institutions have used the system to develop a series of annual land cover maps with a multi-purpose typology for the period 2000-2016. This regional set of products was used as a target for both developing the system itself and as a proof of concept. Partners are now leveraging the system for annual greenhouse gas emissions reporting under their UNFCCC commitments and for mapping the extent and timing of rice production in Vietnam to facilitate drought risk assessment and more effective water allocation decisions.</p>
                        </div>
                    </div>

                    <aside class="launch-panel">
                        <h2 class="inline-block-display">Launch Post Fire Vegetation Monitoring System</h2>
                        <button type="button" class="btn btn-success btn-lg text-align-center launch-panel-button" ui-sref="map">
                            Launch Tool
                        </button>
                    </aside>

                </div>
            </div>
        </div>

    </div>


</div>
