<div class="container">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card mg-em-2">
                <div class="card-title">
                    <h1 class="home-title -center">
                        Post Fire Vegetation Monitoring System
                    </h1>
                </div>
                <div class="card-content mg-em-2">
                    <div class="summary">
                        <p>The Post Wildfire Vegetation Monitoring System uses Google Earth Engine to provide users with current and past vegetation cover areas burned by wildfire. The system allows users to instantly determine the cover of several vegetation types, including evergreen forests, grasslands, deciduous forests, and barren lands. The cover estimates are made at 30m resolution but can be aggregated to any area of interest, including past fire perimeters, hydrological units (HUCs), or any user defined area. Currently the system covers Plumas County, California and was calibrated using the Moonlight Fire, which burned in 2007. This project was funded by NASA through its <a href="https://sbir.nasa.gov/" target="_blank">Small Business Innovation Research Program</a>.</p>
                    </div>

                    <aside class="launch-panel">
                        <h2 class="inline-block-display">Launch Post Fire Vegetation Monitoring System</h2>
                        <button type="button" class="btn btn-success btn-lg text-align-center launch-panel-button" ui-sref="map">
                            Launch System
                        </button>
                    </aside>

                    <div class="card-image">
                        <img class="img-responsive img-center" src="/static/images/fire.png" width="1024" height="768" alt="Post Fire Vegetation Monitoring System">
                    </div>

                    <!--<div class="summary-text" style="margin-top: 2em;">
                        <p>Monitoring land cover and land use change is important for land resource planning, maintaining ecosystem services, and for building &nbsp;resilience to climate change. However, in many cases, maps are produced and updated only infrequently and are often not accompanied by appropriate accuracy assessment information and documentation.</p>
                    </div>-->

                    <aside class="launch-panel">
                        <h2 class="inline-block-display">Launch Post Fire Vegetation Monitoring System</h2>
                        <button type="button" class="btn btn-success btn-lg text-align-center launch-panel-button" ui-sref="map">
                            Launch System
                        </button>
                    </aside>

                    <div style="margin-top: 2em;">
                        <div class="summary">
                            <p>Application Purpose</p>
                        </div>
                        <div class="summary-text">
                            <p>The Post Wildfire Recovery Monitoring System provides land managers regular systematic updates on areas that have burned by wildfire, including changes in vegetation cover, vegetation type, and cover of bare soil, for any time period that data is available. The system integrates operational and legacy Landsat data (1984-Present) and produces land cover information at a 30-meter spatial resolutions. The system provides near real time updates with which is approximately once every 16 days.</p>
                        </div>
                    </div>

                    <div style="margin-top: 2em;">
                        <div class="summary">
                            <p>Application Uses</p>
                        </div>
                        <div class="summary-text">
                            This system is available online for no charge, providing both public and private land managers with near real time information that may be used to better identify, plan, budget for, and execute post wildfire rehabilitation projects including post wildfire harvest, reforestation, revegetation, and other erosion control activities. Users have multiple ways to easily calculate vegetation cover for their area of interest, including, a) by selecting one of the pre-loaded fire perimeters, b) selecting one of the pre-loaded hydrologic units, c) drawing a square, polygon, or rectangle within the user interface, or d) uploading any compatible shape file (i.e. past treatments, prescribed fires, or plantations).                          <p></p>
                        </div>
                    </div>

                    <aside class="launch-panel">
                        <h2 class="inline-block-display">Launch Post Fire Vegetation Monitoring System</h2>
                        <button type="button" class="btn btn-success btn-lg text-align-center launch-panel-button" ui-sref="map">
                            Launch System
                        </button>
                    </aside>

                </div>
            </div>
        </div>

    </div>


</div>
