<div class="container"> <!--ng-controller="loginController"-->

    <!-- Alert Container -->
    <div class="alert alert-dismissible text-center display-none custom-alert" role="alert" style="margin-left: 5% !important;">
        <button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>[[alertContent]]</strong>
    </div>

    <section id="profile-tabs">
        <div class="container" style="padding-left: 0;padding-right: 30px;">
            <h6 class="section-title h1">Edit Profile</h6>
            <div class="row">
                <div class="col-xs-12">
                    <nav>
                        <div class="nav nav-tabs" role="tablist">
                            <button class="btn nav-item nav-link active" ng-class=" showOrgTab ? 'col-xs-6' : 'col-xs-12'" data-toggle="tab" href="#nav-profile-tab" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
                            <button class="btn nav-item nav-link" ng-class=" showOrgTab ? 'col-xs-6' : 'hide'" data-toggle="tab" href="#nav-organization-tab" role="tab" aria-controls="nav-organization" aria-selected="true">Organization</button>
                        </div>
                    </nav>
                    <div class="tab-content" style="margin: 50px; color: #444444;">
                        <div class="tab-pane fade active in" id="nav-profile-tab" aria-labelledby="nav-profile-tab">
                            <ng-include src="'static/app/templates/form/profile-form.html'"></ng-include>
                        </div>
                        <div class="tab-pane fade" id="nav-organization-tab" aria-labelledby="nav-organization-tab">
                            <ng-include src="'static/app/templates/form/org-form.html'"></ng-include>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </section>

</div>
