.login-form-panel h1 {
    color: #444444;
    font-size: 23px;
    margin: 0 0 8px 0;
}

.login-form-panel p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
}

.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

.login-form {
    text-align: center;
    border-radius: 2px;
    padding: 30px;
    max-width: 400px;
    width: 100% !important;
    background-color: #dedfe6;
    margin: 0 auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form .btn.btn-primary {
    background: #f0ad4e none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.show-password {
    position: relative;
}

.password-text {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    color: #f36c01;
    margin-top: -10px;
    cursor: pointer;
    transition: .3s ease all;
}

.forgot {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
}

.forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}

.login-form .btn.btn-primary.reset {
    background: #ff9900 none repeat scroll 0 0;
}

.panel-login .panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}

.panel-login .panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 18px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login .panel-heading a.active{
	color: #029f5b;
	font-size: 24px;
}
